<% if current_user.type == "User" -%>
  <% site_title("Managing #{current_model.name.humanize} | #{current_object.name}") %>
  <h2>
    <span style="float: right; font-weight: normal"><%= link_to 'Edit this event type', edit_event_type_path(current_object) %></span>
    <%= current_object.name %>
  </h2>

  <div class="left-col left-align">
    <h3>Description:</h3>
    <span style="display: block; margin-left: 1em">
      <%= current_object.description %>
    </span>
    <h3>Registration url:</h3>
    <span style="display: block; margin-left: 1em">
      <%= current_object.registration_url %>
    </span>
    <h3>Notify to:</h3>
    <span style="display: block; margin-left: 1em">
      <%= current_object.email %>
    </span>
    <h3>iContact list group:</h3>
    <span style="display: block; margin-left: 1em">
      Group name: <%= current_object.icontact_group %>
    </span>
  </div>

  <div class="clear">&nbsp;</div>
<% end -%>
